.hidden {
    display: none;
}

body {
    background-image: url(https://img00.deviantart.net/1014/i/2012/230/2/3/simple_steampunk_key_wallpaper_by_milkitaa-d5bk1e9.jpg);
    background-attachment: fixed;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

input {
    margin: 10px;
}

#time {
    font-size: 20px;
    font-family: 'requesta'
}

#start {
    border-radius: 30px;
    padding: 25px;
    margin-top: 200px;
    color: white;
    background-color: rgba(79,49,32,.6);
    width: 200px;
    font-family: 'requesta'
}

#restart {
    border-radius: 30px;
    padding: 25px;
    margin: auto;
    margin-top: 200px;
    color: white;
    background-color: rgba(79,49,32,.6);
    width: 200px;
    font-family: 'requesta'
}

#timer {
    color: red; 
    font-size: 35px;
}

#head {
    font-size: 4.4rem;
    font-family: 'catChild';
}

h3 {
    font-size: 23px;
    font-weight: bolder;
    font-family: 'requesta  '
}

form {
    margin-top: 40px; 
}
#questions {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 30px;
    padding: 1px; 
    padding-bottom: 20px;
    margin-bottom: 30px
}
@font-face {
    font-family: 'catChild';
    src: url(../images/CATChilds\ copy.ttf)
}

@font-face {
    font-family: 'requesta';
    src: url(../images/requesta_regular\ copy.otf)
}

